.navbar-default .navbar-toggle .icon-bar{
	background-color: #e75b1e;
}
.main-menu .navbar-default .navbar-nav .active a{
	color: #e75b1e;
}
.main-menu nav li a::after {
    background: #e75b1e;
}
.typer{
	color: #e75b1e !important;
}
.banner-text h2{
	color: #e75b1e
}
.book-btn a{
	background: #e75b1e;
	border: 3px solid #e75b1e;
}
.book-btn a:hover{
	border: 3px solid #f04900;
}
.hvr-underline-from-center::before{
	background:#f04900;
}
.block-title{
	color: #e75b1e;
}
.item-type-zoom .item-hover:hover::before{
	background: rgba(231, 91, 30, 0.5);
}
.special-box .owl-theme .owl-controls .owl-page.active span{
	background: #e75b1e;
}
.offer-item div h3{
	color: #e75b1e;
}
.tab-menu .is-active{
	background: #e75b1e;
	border-radius: 20px;
}
.tab-menu .slick-arrow.slick-prev{
	background: #e75b1e url(/delivery/resources/images/back.png) no-repeat center;
	background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next{
	background: #e75b1e url(/delivery/resources/images/next.png) no-repeat center;
	background-position: 7px 4px;
}

.offer-item .offer-price{
	border: 1px solid #e75b1e;
}
.sf-team:hover .text-col{
	background-color: #e75b1e;
}
.gal-item a::after{
	background-color: rgba(231, 91, 30, 0.75);
}
.overlay i:hover{
	border: 1px solid #e75b1e;
	color: #e75b1e;
}
.blog-btn-v a{
	background: #e75b1e;
	border: 3px solid #e75b1e;
}
.book-srv a{
	background: #e75b1e;
	border: 3px solid #e75b1e;
}

.panel-pricing .panel-heading{
	background: #e75b1e;
}
.panel-pricing{
	border: 1px solid #e75b1e;
}
.panel-body p strong span{
	color: #e75b1e;
}
.pricing-main .panel-footer a{
	background: #e75b1e;
	border: 3px solid #e75b1e;
}
.pricing-main .panel-footer a:hover{
	border: 3px solid #f04900;
}

.reserve-book-btn button{
	background: #e75b1e;
	border: 3px solid #e75b1e;
}
.reserve-book-btn button:hover a{
	color:#000000;
}
.footer-news form a{
	background: #e75b1e;
}
.footer-news form a:hover{
	border: 2px dotted #e75b1e;
}
.footer-box-a h3{
	color: #e75b1e;
}
.footer-box-b h3{
	color: #e75b1e;
}
.footer-box-c h3{
	color: #e75b1e;
}
.footer-box-d h3{
	color: #e75b1e;
}
.footer-box-c p a:hover{
	color: #e75b1e;
}
.footer-box-b ul li a:hover{
	color: #e75b1e;
}

.footer-box .socials-box a:hover .social-circle-border{
	color: #e75b1e;
}

.footer-box-c p i{
	color: #e75b1e;
}

.copyright-main{
	background: #e75b1e;
}

#color-panel a.panel-button:hover{
	color: #e75b1e;		
}